<!DOCTYPE html>
<html>
<head>
	<title>REGISTER</title>
	</head>
<body>

	<form action="/register/" method="post">
		Name: <input type="text" name="name">
		<br><br>
		Username: <input type="text" name="username">
		<br><br>
		Password: <input type="password" name="password">
		<br><br>
		Contact_No: <input type="number" name="phone_number">
		<br><br>
		User_Type:
  			<input type="radio" name="type_user" value="Librarian">Librarian
  			<input type="radio" name="type_user" value="student">Student<br> 
  		<br><br>

		<input type="Submit" value="Click">
	</form>
</body>
</html>

